.otzyv__title,
.otzyv__subtitle {
  padding-bottom: 2em;
}
.slider {
  max-width: 60vw;
  position: relative;
  margin: auto;
  height: 15em;
  margin-bottom: 15px;
  background-color:#2e2012;
  border-radius: 1.5em;
}

.slider .item img {
  object-fit: cover;
  width: auto;
  height: 10em;
  margin-top: 2.5em;
  border-radius: 50%;
 
  @media (max-width: 599px) {
    display: none;
  }
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  // top: 0;
  top: 45%;
  width: auto;
  margin-top: -22px;
  // margin-left: -2.5em;
  padding: 16px;
  color: white;
  font-weight: normal;
  font-size: 2.5em;
  transition: 0.5s ease;
  border-radius: 0 2px 2px 0;
}
.slider .prev {
  margin-left: -1.5em;
}
.slider .next {
  margin-left: 60vw;
  border-radius: 3px 0 0 3px;
//  color: rgb(221, 26, 26);
}
.slider .prev:hover,
.slider .next:hover {
  // background-color: #413016;
  color: #d48309;
}
/* Слайд */
.slideText {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2.1em;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 35vw ;
  top: 50%;
  // background-color: rgba(226, 37, 37, 0.479);
  transform: translate(-50%, -50%);
  @media (max-width: 1049px) {
    left: 37vw ;
    font-size: 1.9em;
    }
    @media (max-width: 949px) {
     
      font-size: 1.5em;
    }
    @media (max-width: 649px) {
       left: 39vw ;
      font-size: 1.4em;
    }
    @media (max-width: 599px) {
      left: 25vw ;
     
   }
}
// .otzyv-item-text {
//      margin-left: 1.5em;
// }
.slider-dots {
  text-align: center;
}
.slider-dots_item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #53432b;
  border: 1.5px solid #d48309;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #d48309;
}
/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
